:root {
    background-color: rgb(40, 150, 200);
}

.panel {
    width: auto;
    min-width: fit-content;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    padding: 2em;
    margin: 5rem;
    border-radius: 2rem;
    flex-direction: row;
}

.pricing-plan {
    width: auto;
    display: flex;
    padding: 1rem;
    text-align: center;
    align-items: center;
    border-left: 1px solid rgb(40, 150, 200);
    flex-direction: column;
}

.pricing-plan:first-child {
    border-left: none;
}

.pricing-img {
    max-height: 100%;
}

.pricing-header {
    font-size: 2em;
    font-weight: 700;
    color: grey;
    margin-bottom: 3rem;
}

.pricing-features {
    list-style: none;
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(40, 150, 200);
}

.pricing-features-item {
    padding: 2rem;
    border-top: 2px solid rgb(40, 150, 200);
}

.pricing-price {
    font-size: 3em;
    font-weight: bolder;
    color: rgb(40, 150, 200);
}

.pricing-button {
    width: 50%;
    padding: 0.5em 2em;
    font-size: 1.5em;
    border: 2px solid rgb(40, 150, 200);
    border-radius: 0.5em;
    text-decoration: none;
}

.pricing-button:hover {
    background-color: rgba(40, 149, 200, 0.2);
}

.is-featured {
    background-color: rgb(40, 150, 200);
    border: none;
    color: whitesmoke;
}

.is-featured:hover {
    background-color: rgb(40, 130, 200);
}

@media (max-width: 800px) {
    .panel {
        margin: 1rem;
        flex-direction: column;
    }

    .pricing-plan {
        border-left: none;
    }
}